<!DOCTYPE html>
<html lang="pt-BR">
<style>
    .text-roxo-conecta {
        color: #7b5cfb !important;
    }

    .bg-roxo-conecta {
        background-color: #7b5cfb !important;
        color: white !important;
    }

    .btn-roxo-conecta {
        background-color: #1E175B !important;
        color: white !important;
        border: none;
    }

    .btn-roxo-conecta:hover {
        background-color: #6146cf !important;
        color: white !important;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConectaLar - Gestão de Condomínio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo ConectaLar" height="40" class="me-2">

            <span class="fw-bold text-white">ConectaLar</span>
            <span class="fs-6 text-white d-none d-md-inline ms-1 pt-1">- Plataforma para Gestão de Condomínio</span>
        </a>
    </div>
</nav>

<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
