{% extends "base.html" %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-6">
        <h2>Painel de Ocorrências</h2>
        <p class="text-muted">Acompanhe as demandas do Condomínio.</p>
    </div>

    <div class="col-md-6 d-flex justify-content-md-end justify-content-start align-items-start gap-2 flex-wrap">

        {% if session.get('usuario_tipo') == 'sindico' %}
         {% endif %}
        {% if session.get('usuario_tipo') == 'sindico' %}
        <a href="/cadastro" class="btn btn-outline-dark text-nowrap">+ Novo Morador</a>
        <a href="/usuarios" class="btn btn-link text-dark text-nowrap">Ver Lista de Moradores</a>
        {% endif %}

        <a href="/nova-ocorrencia" class="btn btn-roxo-conecta text-nowrap">+ Nova Ocorrência</a>
        <a href="/logout" class="btn btn-danger text-nowrap">Sair</a>
    </div>
</div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        {% if ocorrencias %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered bg-white shadow-sm align-middle">
                <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Título</th>
                    <th>Status</th>
                    <th>Autor</th>
                    {% if session.get('usuario_tipo') == 'sindico' %}
                    <th class="text-center">Ações (Administração)</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for ocorrencia in ocorrencias %}
                <tr>
                    <td>#{{ ocorrencia.id }}</td>
                    <td>{{ ocorrencia.data_criacao.strftime('%d/%m/%Y') }}</td>
                    <td><strong>{{ ocorrencia.titulo }}</strong><br><small class="text-muted">{{ ocorrencia.descricao
                        }}</small></td>
                    <td>
                                <span class="badge {% if ocorrencia.status == 'Pendente' %}bg-warning text-dark{% elif ocorrencia.status == 'Resolvido' %}bg-success{% else %}bg-info{% endif %}">
                                    {{ ocorrencia.status }}
                                </span>
                    </td>
                    <td>Usuário Nome: {{ ocorrencia.autor.nome }}</td>

                    {% if session.get('usuario_tipo') == 'sindico' %}
                    <td class="text-center">
                        {% if ocorrencia.status == 'Pendente' %}
                        <a href="/atualizar-status/{{ ocorrencia.id }}/Em Andamento"
                           class="btn btn-sm btn-outline-info">Em Andamento</a>
                        {% elif ocorrencia.status == 'Em Andamento' %}
                        <a href="/atualizar-status/{{ ocorrencia.id }}/Resolvido" class="btn btn-sm btn-success">✓
                            Resolver</a>
                        {% else %}
                        <span class="text-muted"><small>Finalizado</small></span>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info text-center" role="alert">
            Nenhuma ocorrência registrada até o momento.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}